name: Test and Build

on:
  push:
  pull_request:

jobs:
  build:
    name: Test and Build Project
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"
      - name: Install dependencies
        run: go mod download
      - name: Run tests
        run: go test ./...